# ignore build data
[Bb]in/
[Oo]bj/
# ignore publish, its not used but its there
[Pp]ublish/
*.pubxml
*.publishproj
# ignore visual stuiods
.vs/
# ignore user files
*.user
# ignore key, not sure what its used for
*.pfx
# ignore other folders because i dont know whats in them
_*/
# ignore packages folder, not sure if i should or should not do this, they are all standard nuget packages
[Pp]ackages/