<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
	
	<dllmap dll="SDL3" os="windows" target="SDL3.dll"/>
	<dllmap dll="SDL3" os="osx" target="libSDL3.0.dylib"/>
	<dllmap dll="SDL3" os="linux,freebsd,netbsd" target="libSDL3.so.0"/>

	<dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2" os="osx" target="libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2" os="linux,freebsd,netbsd" target="libSDL2-2.0.so.0"/>
	  
  </runtime>

	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
